#vbb_subtitle {
	text-transform: capitalize;
	font-weight: normal;
	margin-bottom: 10px !important;
	margin-left: 0px;
	margin-top: 0px;
}

#vbb_table td {
	padding-right: 20px;
	vertical-align: top;
	padding-top: 0px !important;
	white-space: nowrap;
}

#vbb_table td:nth-child(1) {
	text-overflow: ellipsis;
}

#vbb_table td:nth-child(2) {
	text-transform: capitalize;
	padding-right: 20px;
	width: 100%;
	max-width: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}



